# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
WebApplication1/obj/Debug/WebApplication1.csprojResolveAssemblyReference.cache
WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
WebApplication1/obj/Debug/WebApplication1.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1/bin/WebApplication1.pdb
WebApplication1/bin/WebApplication1.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1.v12.suo
LongYanService/bin/Debug/LongYanService.dll
*.dll
LongYanService/bin/Debug/LongYanService.dll
*.pdb
LongYanService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimePushConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
TimePushConsole/obj/Debug/TimePushConsole.exe
*.suo
WebApplication1/obj/Release/_WPPLastBuildInfo.txt
*.txt
*.pdb
TimePushConsole/bin/Debug/TimePushConsole.vshost.exe.manifest
*.suo
WebApplication1/bin/LongYanService.dll
*.suo
WebApplication1/Web.config
