# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
WebApplication1/obj/Debug/WebApplication1.csprojResolveAssemblyReference.cache
WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
WebApplication1/obj/Debug/WebApplication1.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1/bin/WebApplication1.pdb
WebApplication1/bin/WebApplication1.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1.v12.suo
LongYanService/bin/Debug/LongYanService.dll
*.dll
LongYanService/bin/Debug/LongYanService.dll
*.pdb
LongYanService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimePushConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
TimePushConsole/obj/Debug/TimePushConsole.exe
*.suo
WebApplication1/obj/Release/_WPPLastBuildInfo.txt
*.txt
*.pdb
TimePushConsole/bin/Debug/TimePushConsole.vshost.exe.manifest
*.suo
WebApplication1/bin/LongYanService.dll
*.suo
WebApplication1/Web.config
[Bb]in
[Dd]ebug*/
Obj/
[Rr]elease*/
LongYanService/bin/Release/LongYanService.dll
LongYanService/bin/Release/LongYanService.dll
LongYanService/bin/Release/LongYanService.pdb
LongYanService/obj/Release/LongYanService.csproj.FileListAbsolute.txt
LongYanService/obj/Release/LongYanService.csprojResolveAssemblyReference.cache
LongYanService/obj/Release/LongYanService.dll
LongYanService/obj/Release/LongYanService.pdb
TimePushConsole/obj/Release/build.force
WebApplication1.v12.suo
WebApplication1/bin/LongYanService.dll
WebApplication1/bin/LongYanService.pdb
WebApplication1/bin/WebApplication1.dll
WebApplication1/bin/WebApplication1.dll.config
WebApplication1/bin/WebApplication1.pdb
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/Web.config
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.compiled
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
WebApplication1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/obj/Release/Package/PackageTmp/bin/App_global.asax.compiled
WebApplication1/obj/Release/Package/PackageTmp/bin/LongYanService.dll
WebApplication1/obj/Release/Package/PackageTmp/bin/WebApplication1.dll
WebApplication1/obj/Release/Package/PackageTmp/image/0.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/1.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/2.jpg
WebApplication1/obj/Release/Package/PackageTmp/Main.aspx
WebApplication1/obj/Release/Package/PackageTmp/MyTool.aspx
WebApplication1/obj/Release/Package/PackageTmp/Web.config
WebApplication1/obj/Release/TransformWebConfig/original/Web.config
WebApplication1/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication1/obj/Release/WebApplication1.csprojResolveAssemblyReference.cache
WebApplication1/obj/Release/WebApplication1.dll
WebApplication1/obj/Release/WebApplication1.pdb
WebApplication1/Properties/PublishProfiles/111.pubxml.user
WebApplication1/Web.config
WebApplication1.v12.suo
LongYanService/bin/Release/LongYanService.dll
LongYanService/bin/Release/LongYanService.pdb
LongYanService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LongYanService/obj/Release/LongYanService.csproj.FileListAbsolute.txt
LongYanService/obj/Release/LongYanService.csprojResolveAssemblyReference.cache
LongYanService/obj/Release/LongYanService.dll
LongYanService/obj/Release/LongYanService.pdb
TimePushConsole/App.config
TimePushConsole/obj/Release/build.force
TimePushConsole/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1.v12.suo
WebApplication1/bin/LongYanService.dll
WebApplication1/bin/LongYanService.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1/bin/WebApplication1.dll
WebApplication1/bin/WebApplication1.dll.config
WebApplication1/bin/WebApplication1.pdb
WebApplication1/obj/Release/_WPPLastBuildInfo.txt
WebApplication1/obj/Release/AspnetCompileMerge/Source/bin/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/Source/Web.config
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.compiled
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/bin/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
WebApplication1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/obj/Release/Package/PackageTmp/bin/App_global.asax.compiled
WebApplication1/obj/Release/Package/PackageTmp/bin/LongYanService.dll
WebApplication1/obj/Release/Package/PackageTmp/bin/quartz_jobs.xml
WebApplication1/obj/Release/Package/PackageTmp/bin/WebApplication1.dll
WebApplication1/obj/Release/Package/PackageTmp/image/0.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/1.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/2.jpg
WebApplication1/obj/Release/Package/PackageTmp/Main.aspx
WebApplication1/obj/Release/Package/PackageTmp/MyTool.aspx
WebApplication1/obj/Release/Package/PackageTmp/quartz_jobs.xml
WebApplication1/obj/Release/Package/PackageTmp/Web.config
WebApplication1/obj/Release/TransformWebConfig/original/Web.config
WebApplication1/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication1/obj/Release/WebApplication1.csprojResolveAssemblyReference.cache
WebApplication1/obj/Release/WebApplication1.dll
WebApplication1/obj/Release/WebApplication1.pdb
WebApplication1/Properties/PublishProfiles/111.pubxml.user
WebApplication1/Web.config
LongYanService/bin/Release/LongYanService.dll
LongYanService/bin/Release/LongYanService.pdb
LongYanService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LongYanService/obj/Release/LongYanService.csproj.FileListAbsolute.txt
LongYanService/obj/Release/LongYanService.csprojResolveAssemblyReference.cache
LongYanService/obj/Release/LongYanService.dll
LongYanService/obj/Release/LongYanService.pdb
TimePushConsole/App.config
TimePushConsole/obj/Release/build.force
TimePushConsole/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1.v12.suo
WebApplication1/bin/LongYanService.dll
WebApplication1/bin/LongYanService.pdb
WebApplication1/bin/quartz_jobs.xml
WebApplication1/bin/WebApplication1.dll
WebApplication1/bin/WebApplication1.dll.config
WebApplication1/bin/WebApplication1.pdb
WebApplication1/obj/Release/_WPPLastBuildInfo.txt
WebApplication1/obj/Release/AspnetCompileMerge/Source/bin/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/Source/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/Source/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/Source/Web.config
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.compiled
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/bin/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/0.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/1.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/image/2.jpg
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Main.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/MyTool.aspx
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/quartz_jobs.xml
WebApplication1/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
WebApplication1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/obj/Release/Package/PackageTmp/bin/App_global.asax.compiled
WebApplication1/obj/Release/Package/PackageTmp/bin/LongYanService.dll
WebApplication1/obj/Release/Package/PackageTmp/bin/quartz_jobs.xml
WebApplication1/obj/Release/Package/PackageTmp/bin/WebApplication1.dll
WebApplication1/obj/Release/Package/PackageTmp/image/0.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/1.jpg
WebApplication1/obj/Release/Package/PackageTmp/image/2.jpg
WebApplication1/obj/Release/Package/PackageTmp/Main.aspx
WebApplication1/obj/Release/Package/PackageTmp/MyTool.aspx
WebApplication1/obj/Release/Package/PackageTmp/quartz_jobs.xml
WebApplication1/obj/Release/Package/PackageTmp/Web.config
WebApplication1/obj/Release/TransformWebConfig/original/Web.config
WebApplication1/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication1/obj/Release/WebApplication1.csprojResolveAssemblyReference.cache
WebApplication1/obj/Release/WebApplication1.dll
WebApplication1/obj/Release/WebApplication1.pdb
WebApplication1/Properties/PublishProfiles/111.pubxml.user
WebApplication1/Web.config
