<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeixinAgentUrl" value="http://rmb0595.gotoip3.com/cms/myweixin.ashx" />
    <add key="WeixinAgentToken" value="myweixin" />
    <add key="WeixinAgentWeiweihiKey" value="" />
    <add key="LongNameAppId" value=""/>
    <add key="LongNameAppSecret" value=" "/>

    <add key="orcl" value="" />
    <add key="nouse" value="SUN, MON, TUE, WED, THU, FRI,SAT"/>

    <add key="ShortWeixinAgentUrl" value="http://rmb0595.gotoip3.com/cms/ShortHanlde.ashx" />
    <add key="ShortWeixinAppId" value=""/>
    <add key="ShortWeixinSecret" value=""/>

    <!-- 网站域名地址-->
    <add key="domain" value="http://rmb0595.gotoip3.com/cms"/>
 
  </appSettings>
</configuration>
